<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>demo</description>
    <param-name>name</param-name>
    <param-value>lisi</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>com.ddbin.javaweb.servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/servlet/ServletDemo</url-pattern>
    <url-pattern>/now</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitParameter</servlet-name>
    <servlet-class>com.ddbin.javaweb.servlet.InitParameter</servlet-class>
    <init-param>
      <param-name>institute</param-name>
      <param-value>职业培训学院</param-value>
    </init-param>
    <init-param>
      <param-name>major</param-name>
      <param-value>Java技术</param-value>
    </init-param>
    <init-param>
      <param-name>count</param-name>
      <param-value>10000</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>	<!-- 跟随web容器实例化 -->
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParameter</servlet-name>
    <url-pattern>/initparam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbinit</servlet-name>
    <jsp-file>/WEB-INF/init.jsp</jsp-file>
    <init-param>
      <param-name>driver</param-name>
      <param-value>org.gjt.mm.mysql.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/mldn</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbinit</servlet-name>
    <url-pattern>/config.mldn</url-pattern>
  </servlet-mapping>
</web-app>